.sideBar {
    background-color: rgb(46, 46, 42);
    width: 40%;
    height: 100vh;
}

.flexColumnCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

p {
    color: black;

}

nav {
    background-color: rgba(128, 128, 128, 0.333);
}

.profile {
    width: 50%;
    border-radius: 30px;

    margin-top: 40px
}

.movieCardText {
    text-align: center;
    font-weight: bold;
}



/* input {
    margin-left: 115%;
} */